@media (max-width: 1200px) {
    .right{
        display: none;
    }
    .article{
        width: 730px;
    }
}

*{margin: 0;padding: 0}
a{
    cursor:pointer;
}
body{
    background-color: #ebebeb;
}
#editor{
    background-color: white;
    width: 540px;
}
/*导航*/
.menu-fix-box ul {width:600px;}
.menu-fix-box ul>li {
    width:30px;
    height: 80px;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    list-style:none;
}
.menu-fix-box ul>li>a {
    color: #404040;
    font-size: 15px;
    display: block;
    position: relative;
    line-height: 80px;
    height: 80px;
}
.menu-fix-box ul>li>a:hover{
    color: #00b0ff;
}
.titleLogo{
    float: left;
    width: 220px;
    margin: 0px 20px 0px 0px;
}
.menu-fix-box{
    padding:0px;
}



.w-e-text-container {
    height: 150px !important;
}
.top{
    height: 80px;
    background-color: white;
    border: #d7d7d7 solid 1px;
}
.foot{
    margin-top: 50px;
    background-color: #212121;
    height: 130px;
}
.left{
    margin-top: 30px;
    /*background-color: white;*/
}
.articleContent img{
    /*width: 650px;
    height: 100%;*/
    width: 100%;
    height: 100%;
}
/*文章模块样式*/
.article{
    border: #d7d7d7 solid 1px;
    padding: 50px 30px;
    background-color: white;
}
.catalog{
    color: #c0c0c0;
    margin-bottom: 25px;
}
.btnType{
    height: 20px;
    padding: 0 5px 0 5px;
    font-size: xx-small;
    width: 60px;
    margin-bottom: 15px;
}
.title{
    text-align: center;
    font-size: 30px;
    padding: 0;
    font-weight: bold;
}
.logo{
    margin-top: 30px;
    color: #858585;
    margin-bottom: 30px;
}
.ico{
    margin-left: 15px;
    margin-right: 5px;
    font-size: 12px;
    text-indent: 1px;
}
.articleP{
    text-indent:50px;
    font-size: small;
    color: red;
}

/*评论模块样式*/
.comments{
    /*background-color: white;
    padding: 0px;*/
    margin-top: 30px;
}
.comment{
    border: #d7d7d7 solid 1px;
    background-color: white;
    padding: 0;
    margin-bottom: 10px;
}
.user{
    /*background-color: #66afe9;*/
    height: 160px;

}
.content{
    /*background-color: #e99f89;*/
    height: 160px;
    border-left: #ebebeb solid 1px;
}
.option{
    text-align: right;
    padding-top: 5px;
    /*background-color: #bbbb00;*/
    height: 30px;
    border-left: #ebebeb solid 1px;
}
.messages{
    padding: 0;
}
.message{
    padding: 15px;
    background-color: #fcfcfc;
}
.newMessage{
    margin-bottom: 10px;
    padding: 0 6px;
}
.userHead{
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}
.userName{
    text-align: center
}
.content{
    padding-top: 20px;
}
.giveMoney{
    margin-right: 10px;
}
.giveMoney:hover,.giveLike:hover{
    border-color:#cccccc;
    background-color: white;
}
/*作者模块*/
.right{
    margin-top: 30px;
    height: 280px;
}
.home{
    height: 280px;
    background-color: white;
    border: #d7d7d7 solid 1px;
}
.upDownPage{
    margin-bottom: 20px;
}
.eee{
    margin-top: 20px;
}