*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9f9f9;
}

/*头部导航栏*/
.head{
    height: 81px;
    background-color: white;
}

/*左边模块*/
.left{
    background-color: blue;
    padding-top: 30px;
}
.article{
    height: 500px;
    background-color: darkgreen;
    margin-bottom: 30px;
}
.comment{
    height: 700px;
    background-color: #00a0d2;
}

.leftDowm{
    height: 500px;
    background-color: #6c7781;
}

    .user{
        width: 150px;
        height: 150px;
        float: left;
        background-color: white;
    }

/*右边模块*/
.right{
    height: 400px;
    background-color: red;
}

.clear{
    clear: none;
}