<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.acgInformation.mapper.IArticleMapper">
    <resultMap id="ArticleMap" type="Article">
        <id property="aId" column="a_id"/>
        <result property="aType" column="a_type"/>
        <result property="title" column="a_title"/>
        <result property="aText" column="a_text"/>
        <result property="aPic" column="a_pic"/>
        <result property="aAuthor" column="a_author"/>
        <result property="aLike" column="a_like"/>
        <result property="aRead" column="a_read"/>
        <result property="aDate" column="a_date"/>
        <result property="aState" column="a_state"/>
    </resultMap>
    <select id="getArticleByKeyWords" resultMap="ArticleMap">
      select * from article where  a_state=2 and  is_delete=1 AND  a_title like concat('%',#{keyWords},'%') order by a_date desc;
    </select>
    <select id="getArticleByType" resultMap="ArticleMap">
      select * from article where  a_state=2  and is_delete=1  AND a_type = #{type} order by a_date desc;
    </select>
    <select id="getArticleByTime" resultMap="ArticleMap">
      select * from article where  a_state=2 and is_delete=1  order by a_date desc;
    </select>
    <select id="getArticleOrderByRead" resultMap="ArticleMap">
      select * from article where  a_state=2  order by a_read desc;
    </select>
    <select id="getArticleByUser" resultMap="ArticleMap">
      select * from article where  a_state=2  and a_author = #{userID} order by a_date desc;
    </select>
    <select id="getArticleByUserSubscribe" resultMap="ArticleMap">
        SELECT * FROM article WHERE  a_state=2  and a_author IN (SELECT uf_id FROM userfollow WHERE uf_fid = #{subscribeUserID}) ORDER BY a_date DESC;
    </select>
    <select id="getArticleById" resultMap="ArticleMap">
      select * from article where a_state=2  and a_id = #{articleID};
    </select>

     <select id="getAllArticle" resultMap="ArticleMap">
        SELECT * FROM article WHERE is_delete=1  ORDER BY a_date DESC LIMIT #{offset},#{pageSize};
     </select>
    <insert id="addArticle" parameterType="Article">
         insert into article(a_type,a_title,a_text,a_pic,a_author,a_date)
         values(#{article.aType},#{article.title},#{article.aText},#{article.aPic},#{article.aAuthor},#{article.aDate})
    </insert>

    <update id="deleteArticle">
        update article
        <set>
            <if test="articleIsDelete!=null"> is_delete = #{articleIsDelete}</if>
        </set>
        where a_id = #{articleDeleteID}
    </update>

    <update id="updateArticleState" parameterType="Article">
        update article
        <set>
            <if test="articleState.aState!=null"> a_state = #{articleState.aState}</if>
        </set>
        where a_id = #{articleState.aId}
    </update>

    <update id="updateLike">
        update article
        <set>
            <if test="likeID!=null"> a_like = a_like+#{likeNum} </if>
        </set>
        where a_id = #{likeID}
    </update>

    <update id="updateRead">
        update article
        <set>
            <if test="readID!=null"> a_read = a_read+1 </if>
        </set>
        where a_id = #{readID}
    </update>
</mapper>