<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.acgInformation.mapper.ICommentMapper">
    <resultMap id="commentMap" type="Comment">
        <id property="cId" column="c_id" />
        <result property="cText" column="c_text"/>
        <result property="cPic" column="c_pic"/>
        <result property="cUid" column="c_uid"/>
        <result property="cAid" column="c_aid"/>

        <collection
                property="user"
                ofType="User"
                column="c_uid"
                select="com.qf.acgInformation.mapper.IUserMapper.findUserById"
        />
        <collection
                property="messages"
                ofType="Message"
                column="c_id"
                select="com.qf.acgInformation.mapper.IMessageMapper.getMessageByCid"
        />
    </resultMap>
<!--    获取文章id所有评论-->
    <select id="getCommentByArticleId" resultMap="commentMap">
        select * from comment where c_aid = #{articleId} and is_delete = 1 limit #{offset},#{pageSize};
    </select>

<!--    添加评论-->
<insert id="addComment" parameterType="Comment">
    insert into comment(c_text, c_uid, c_aid) values(#{comment.cText}, #{comment.cUid}, #{comment.cAid});
</insert>

<!--    通过评论id删除评论-->
<update id="deleteCommentByCommentId">
    update comment set is_delete = 0 where c_id = #{commentId};
</update>

<!--    获取文章id所有评论总数-->
    <select id="getAllCommentCountByArticleId" resultType="Integer">
        select count(c_id) from comment where c_aid = #{articleId} and is_delete = 1;
    </select>


<!--    通过用户id获取评论-->
    <select id="getCommentByUserId" resultMap="commentMap">
         select * from comment where c_uid = #{userId} and is_delete = 1;
    </select>


<!--    通过文章id获取文章标题-->
    <select id="getArticleTitleById" resultType="String">
        select a_title from article where a_id = #{articleId} and is_delete = 1;
    </select>


<!--    获取所有未删除评论-->
    <select id="getAllComment" resultMap="commentMap">
        select * from comment where is_delete = 1 limit #{offset},#{pageSize};
    </select>


<!--    查看已删除评论-->
    <select id="getDeleteComment" resultMap="commentMap">
        select * from comment where is_delete = 0 limit #{offset},#{pageSize};
    </select>
<!--    恢复已删除评论-->
    <update id="restoreComment">
        update comment set is_delete = 1 where c_id = #{commentId};
    </update>
</mapper>